
<div id="contenedor">
<section class="form-register">
    <h4>Formulario Registro</h4>
    <label for="lname">Nombre:</label>
    <input class="controls" type="text" id="lname" name="lname">

    <label for="email">E-Mail:</label>
    <input class="controls" type="email" id="email" name="email">

    <label for="pwd">Contrasena:</label>
    <input class="controls" type="password" id="pwd" name="pwd">
    
    <label for="birthday">Fecha de Nacimiento:</label>
    <input class="controls" type="date" id="birthday" name="birthday">

    <label for="paises">Seleccione un pais:</label>
    <input class="controls" list="paises" name="pais">
    <datalist id="paises">
        <option value="Argentina">
        <option value="Brasil">
        <option value="Uruguay">
        <option value="Colombia">
        <option value="Chile">
    </datalist>
    <div class="control-radius">
        <label for="gender">Seleccione su genero:</label><br>
        <input  type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label>
        <input   type="radio" id="female" name="gender" value="female">
    <label for="female">Female</label><br>
    </div>
    <p>Estoy de acuerdo con los <a href="#">Terminos y Condiciones</a></p>
    <input class="botons" type="submit" value="Enviar">
    <input class="botons" type="submit" value="Cancelar">
    <p><a href="#">¿Ya tengo cuenta ?</a></p>
</section>       
</div>
