<div id="contenedor">
<section>
    <div id="img-principal">
        <img src="../../../assets/images/principal.jpg" >
    </div>       
    <div id="contenedor-article">
        <article>           
            <h2>EMPRESAS</h2><hr>
            <p>Te brindamos una amplia gama de coberturas acordes para la protección total de los bienes muebles e inmuebles que conforman tu empresa.<p> 
            <a href="#">Leer Mas...</a>        
        </article>
        <article>           
            <h2>PYMES</h2><hr>
            <p>Te ofrecemos seguros que cuenten con variedad, tranquilidad, respaldo y confianza para cubrir todas las necesidades que tu comercio requiera.<p> 
            <a href="#">Leer Mas...</a>        
        </article>
        <article>           
            <h2>SALUD</h2><hr>
            <p>Sabemos lo importante que es contar con una cobertura apropiada para afrontar los momentos más difíciles. Por ello te brindamos respaldo y seguridad.<p>    
            <a href="#">Leer Mas...</a>     
        </article>
        <article>           
            <h2>ACCIDENTES</h2><hr>
            <p>Te ofrecemos coberturas aptas para la protección integral de los riesgos laborales que puedan ocasionarles tanto a sus empleados.<p>   
            <a href="#" >Leer Mas...</a>     
        </article>    
    </div>
</section>  
</div>